# Ignore VS Code settings directory
.vscode/
build/.built_by
build/COLCON_IGNORE
build/arm_card_dealer/arm_card_dealer
build/arm_card_dealer/colcon_build.rc
build/arm_card_dealer/colcon_command_prefix_setup_py.sh
build/arm_card_dealer/colcon_command_prefix_setup_py.sh.env
build/arm_card_dealer/package.xml
build/arm_card_dealer/setup.cfg
build/arm_card_dealer/setup.py
build/arm_card_dealer/arm_card_dealer.egg-info/dependency_links.txt
build/arm_card_dealer/arm_card_dealer.egg-info/entry_points.txt
build/arm_card_dealer/arm_card_dealer.egg-info/PKG-INFO
build/arm_card_dealer/arm_card_dealer.egg-info/requires.txt
build/arm_card_dealer/arm_card_dealer.egg-info/SOURCES.txt
build/arm_card_dealer/arm_card_dealer.egg-info/top_level.txt
build/arm_card_dealer/arm_card_dealer.egg-info/zip-safe
build/arm_card_dealer/launch/arm_card_dealer.launch.py
build/arm_card_dealer/prefix_override/sitecustomize.py
build/arm_card_dealer/prefix_override/__pycache__/sitecustomize.cpython-310.pyc
build/arm_card_dealer/resource/arm_card_dealer
build/arm_card_dealer/share/arm_card_dealer/hook/pythonpath_develop.dsv
build/arm_card_dealer/share/arm_card_dealer/hook/pythonpath_develop.ps1
build/arm_card_dealer/share/arm_card_dealer/hook/pythonpath_develop.sh
install/_local_setup_util_ps1.py
install/_local_setup_util_sh.py
install/.colcon_install_layout
install/COLCON_IGNORE
install/local_setup.bash
install/local_setup.ps1
install/local_setup.sh
install/local_setup.zsh
install/setup.bash
install/setup.ps1
install/setup.sh
install/setup.zsh
install/arm_card_dealer/lib/arm_card_dealer/arm_card_dealer_node
install/arm_card_dealer/lib/python3.10/site-packages/arm-card-dealer.egg-link
install/arm_card_dealer/share/ament_index/resource_index/packages/arm_card_dealer
install/arm_card_dealer/share/arm_card_dealer/package.bash
install/arm_card_dealer/share/arm_card_dealer/package.dsv
install/arm_card_dealer/share/arm_card_dealer/package.ps1
install/arm_card_dealer/share/arm_card_dealer/package.sh
install/arm_card_dealer/share/arm_card_dealer/package.xml
install/arm_card_dealer/share/arm_card_dealer/package.zsh
install/arm_card_dealer/share/arm_card_dealer/hook/ament_prefix_path.dsv
install/arm_card_dealer/share/arm_card_dealer/hook/ament_prefix_path.ps1
install/arm_card_dealer/share/arm_card_dealer/hook/ament_prefix_path.sh
install/arm_card_dealer/share/arm_card_dealer/hook/pythonpath.dsv
install/arm_card_dealer/share/arm_card_dealer/hook/pythonpath.ps1
install/arm_card_dealer/share/arm_card_dealer/hook/pythonpath.sh
install/arm_card_dealer/share/arm_card_dealer/launch/arm_card_dealer.launch.py
install/arm_card_dealer/share/colcon-core/packages/arm_card_dealer
log/COLCON_IGNORE
log/latest
log/latest_build
log/build_2026-01-14_14-12-00/events.log
log/build_2026-01-14_14-12-00/logger_all.log
log/build_2026-01-14_14-12-00/arm_card_dealer/command.log
log/build_2026-01-14_14-12-00/arm_card_dealer/stderr.log
log/build_2026-01-14_14-12-00/arm_card_dealer/stdout_stderr.log
log/build_2026-01-14_14-12-00/arm_card_dealer/stdout.log
log/build_2026-01-14_14-12-00/arm_card_dealer/streams.log
log/build_2026-01-14_14-13-26/events.log
log/build_2026-01-14_14-13-26/logger_all.log
log/build_2026-01-14_14-13-26/arm_card_dealer/command.log
log/build_2026-01-14_14-13-26/arm_card_dealer/stderr.log
log/build_2026-01-14_14-13-26/arm_card_dealer/stdout_stderr.log
log/build_2026-01-14_14-13-26/arm_card_dealer/stdout.log
log/build_2026-01-14_14-13-26/arm_card_dealer/streams.log
